<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупатели</title>
</head>
<body>
    <div>
        <h2>Магазин товаров для быта</h2>
        <h3><a href="{% url 'index' %}">Вернуться на список товаров</a></h3>
        <h3>Список покупателей</h3>
        <table style="border-collapse: collapse;">
            <tr>
                <td style="border: 1px solid black;"><p>Имя покупателя</p></td>
                <td style="border: 1px solid black;"><p>Количество покупок</p></td>
                <td style="border: 1px solid black;"><p>Размер скидки в процентах</p></td>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td style="border: 1px solid black;"><p>{{ customer.name }}</p></td>
                    <td style="border: 1px solid black;"><p>{{ customer.purchase_count }}</p></td>
                    <td style="border: 1px solid black;"><p>{{ customer.discount }}</p></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>